<ul>

    <li *ngFor="let evt of events"> {{ evt.name | uppercase | mypipe:3 }} 
    
        <img [src] = "evt.pic" width="50px" height="50px">
        <button (click)="edit(evt.id)"> Edit </button>
        <button (click)="delete(evt.id)"> Remove </button>

    </li>

</ul>

<div>

    <label for="eventname"> Esemény neve: </label>
    <input type="text" #newEventNameInput id="eventname" [value]="modifyEvent.name">  <!-- referencia létrehozása az eseményhez, ezzel a névvel
    hivatkozhatok rá innentől a lenti sorban, és a .ts-ben is -->
</div>

<div>

    <label for="eventpic"> Eseményhez tartozó kép URL-je: </label>
    <input type="text" #newEventPicInput id="eventpic" [value]="modifyEvent.pic">

</div>

<button (click)="save(newEventNameInput, newEventPicInput)"> Save value </button>

<!-- debug trükk - előre formázott struktúrában leellenőrizzük a változót, hogy megfelelő-e egyáltalán 
az adatszerkezet -->

<pre> {{ events | json }} </pre>